{% assign basics = site.data.basics %}
{% assign work = site.data.work %}
{% assign education = site.data.education %}
{% assign skills = site.data.skills %}

<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="relative {{ page.layout }} {{ page.page_class }}">
    {% render "shared/top_links", data: basics, %}
    {{content}}
  </body>
</html>
