{% assign basics = site.data.basics %}
{% assign work = site.data.work %}
{% assign education = site.data.education %}
{% assign skills = site.data.skills %}

<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <main class="px-6 lg:px-0 container mx-auto max-w-screen-md pt-6 leading-relaxed text-gray-800">
      <div>
        {% render "header", data: basics, %}

        {% render "work_experience",
            sectionHeader: 'Experience',
            work: work
        %}

        {% render "education",
            sectionHeader: 'Education',
            education: education
        %}

        {% render "skills",
            sectionHeader: 'Skills',
            skills: skills
        %}

        <%= partial "footer" %>

      </div>
    <main>
  </body>
</html>
