{% assign github = profiles | where: "network", "Github" | first %}
{% assign dribbble = profiles | where: "network", "Dribbble" | first %}
{% assign instagram = profiles | where: "network", "Instagram" | first %}

<div class="footer">
  <p class="text-center text-base leading-6 text-gray-400">
    &copy;
    {{metadata.year}}
    {{metadata.author}}, Inc. All rights reserved.
  </p>
</div>
