<header class="pb-7">
  <h1 class="uppercase text-xxl font-bold pb-6">
    {{ data.name }}
  </h1>

  <div class="pb-xxl">
    {% render 'shared/social_links', data: data %}
  </div>


  <p class="pb-6">
    {{ data.summary }}
  </p>

</header>
