<header class="pb-7">
  <h1 class="uppercase text-xxl font-bold py-xxl">
    {{ data.name }}
  </h1>
  <h4 class="pb-3 font-bold">
    {{ data.label }}
  </h4>
  <p class="pb-6">
    {{ data.summary }}
  </p>

</header>
