<div class="flex top-0 left-0 right-0 justify-end  pt-3 px-3">

  {% if data.site_metadata.show_pdf_download_link %}
  <div data-controller="export-pdf">
    <a href="#" data-action="click->export-pdf#download" class="transition-colors duration-100 mr-1 flex items-center rounded-md bg-gray-300 hover:bg-gray-400 py-1 px-2 text-sm">
      {% svg 'assets/down-arrow.svg' %}
      <span class="pl-1">
        Download PDF
      </span>
    </a>
  </div>
  {% endif %}

  {% if data.site_metadata.show_fork_link %}
    <a href="https://github.com/stoplion/georgenorr.is" class="transition-colors duration-100 flex items-center rounded-md bg-gray-300 hover:bg-gray-400 py-1 px-2 text-sm" target="_blank">
      {% svg 'assets/code-fork.svg' %}
      <span class="pl-1">
        Fork on Github
      </span>
    </a>
  </div>
  {% endif %}