<div class="top-links flex">
  <a class="transition-colors duration-100 mr-1 flex items-center rounded-sm bg-gray-300 hover:bg-gray-400 py-1 px-2 text-sm" href="https://github.com/stoplion/georgenorr.is" target="_blank">
    {% svg 'assets/down-arrow.svg' %}
    <span class="pl-1">
      Download PDF
    </span>
  </a>
  <a class="transition-colors duration-100 flex items-center rounded-sm bg-gray-300 hover:bg-gray-400 py-1 px-2 text-sm" href="https://github.com/stoplion/georgenorr.is" target="_blank">
    {% svg 'assets/code-fork.svg' %}
    <span class="pl-1">
      Fork on Github
    </span>
  </a>
</div>