<div class="absolute top-links">
  <a class="rounded-sm bg-gray-300 py-2 px-3 text-sm" href="https://github.com/stoplion/georgenorr.is" target="_blank">
    Fork on Github
    {% svg 'assets/down-arrow.svg' %}
  </a>
</div>