---
layout: default
title: Resume
---

{% assign basics = site.data.basics %}
{% assign work = site.data.work %}
{% assign education = site.data.education %}
{% assign skills = site.data.skills %}
{% assign metadata = site.data.site_metadata %}

<main class="px-6 lg:px-0 container mx-auto pt-6 leading-relaxed text-gray-800 max-w-screen-md">
    <div>
      {% render "shared/header", data: basics, %}

      {% render "resume/work_experience",
          sectionHeader: 'Experience',
          work: work
      %}

      {% render "resume/education",
          sectionHeader: 'Education',
          education: education
      %}

      {% render "resume/skills",
          sectionHeader: 'Skills',
          skills: skills
      %}

      {% render "shared/footer", metadata: metadata, profiles: basics.profiles %}
    </div>
<main>