@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pattern-bg {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#b5b5b5ca 1px, transparent 1px), linear-gradient(to right, #b5b5b5ca 1px, #dbdada 1px);
  background-size: 20px 20px;
}