<header>
  <h1 class="uppercase text-xxl font-bold py-xxl">
    {{ data.name }}
  </h1>
  <h4 class="mb-3 font-bold">
    {{ data.label }}
  </h4>
  <p class="mb-3 text-gray-800">
    {{ data.summary }}
  </p>
</header>
